---
openapi: 3.0.0
info:
  title: OpenClientCoolAutomationAPI
  description: Cool platform REST API
  contact:
    name: Info
    email: info@coolautomation.com
  version: 1.0.2
servers:
- url: https://api.coolremote.net/api/v1
- url: https://virtserver.swaggerhub.com/ShayGus/CoolAPI/1.0.2
  description: SwaggerHub API Auto Mocking
tags:
- name: authentication
  description: authentication operations
- name: websocket
  description: websocket connection endpoint
- name: admins
  description: admin operations
- name: customers
  description: customers operations
- name: customer
  description: customer operations
- name: customer sites
  description: site operations with relation to owner customer
- name: customer users
  description: user operations with relation to owner customer
- name: sites
  description: sites operations
- name: site
  description: site operations
- name: site devices
  description: device operations with relation to owner site
- name: site zones
  description: zone operations with relation to owner site
- name: site systems
  description: system operations with relation to owner site
- name: site users
  description: user operations with relation to owner site
- name: devices
  description: devices operations
- name: device
  description: device operations
- name: device units
  description: unit operations with relation to owner device
- name: zones
  description: zones operations
- name: zone
  description: zone operations
- name: zone control
  description: zone control
- name: zone units
  description: unit operations with relation to owner zone
- name: systems
  description: systems operations
- name: system
  description: system operations
- name: system control
  description: system control
- name: system units
  description: unit operations with relation to owner system
- name: units
  description: units operations
- name: unit
  description: unit operations
- name: unit control
  description: unit control
- name: users
  description: users operations
- name: user
  description: user operations
- name: me
  description: me operations
- name: types
  description: system types operations
paths:
  /:
    get:
      tags:
      - websocket
      summary: Websocket connection endpoint
      description: Websocket connection endpoint
      responses:
        "200":
          description: OK
  /admins/customers:
    post:
      tags:
      - admins
      summary: create customer
      description: Create customer
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /customers:
    get:
      tags:
      - customers
      summary: get my customers
      description: Get all the customers caller has permissions to see
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customersResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /customers/{customerId}:
    get:
      tags:
      - customer
      summary: get customer
      description: Get customer
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - customer
      summary: update customer
      description: update customer
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: properties to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCustomerRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - customer
      summary: create customer
      description: create customer
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: properties to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCustomerRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - customer
      summary: delete customer
      description: delete customer
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /customers/{customerId}/sites:
    get:
      tags:
      - customer sites
      summary: get customer sites
      description: get customer sites
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sitesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - customer sites
      summary: create customer site
      description: create customer site
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: customer ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSiteRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /customers/{customerId}/users:
    get:
      tags:
      - customer users
      summary: get customer users
      description: get customer users
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usersResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - customer users
      summary: create customer user
      description: create customer user
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: customerId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/createUserRequestBody'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites:
    get:
      tags:
      - sites
      summary: get my sites
      description: get my sites
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sitesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites/{siteId}:
    get:
      tags:
      - site
      summary: get site
      description: get site
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/siteResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - site
      summary: update site
      description: update site
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSiteRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - site
      summary: delete site
      description: delete site
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites/{siteId}/devices:
    get:
      tags:
      - site devices
      summary: get site devices
      description: get site devices
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/devicesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - site devices
      summary: add device to site
      description: add device to site
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /devices:
    get:
      tags:
      - devices
      summary: get my devices
      description: get my devices
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/devicesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /devices/{deviceId}:
    get:
      tags:
      - device
      summary: get device
      description: get device
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deviceId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deviceResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - device
      summary: update device
      description: update device
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deviceId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - device
      summary: delete device
      description: delete device
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deviceId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites/{siteId}/zones:
    get:
      tags:
      - site zones
      summary: get site zones
      description: get site zones
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zonesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - site zones
      summary: create site zone
      description: create site zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createZoneRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones:
    get:
      tags:
      - zones
      summary: get my zones
      description: get my zones
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zonesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}:
    get:
      tags:
      - zone
      summary: get zone
      description: get zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/zoneResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - zone
      summary: update zone
      description: update zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: zone ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateZoneRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - zone
      summary: delete zone
      description: delete zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/controls/setpoints:
    put:
      tags:
      - zone control
      summary: set zone active temperature setpoint for all units
      description: set zone active temperature setpoint for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: zone ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zoneControlSetpointsBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/controls/fans:
    put:
      tags:
      - zone control
      summary: set zone active fan mode for all units
      description: set zone active fan mode for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: zone ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zoneControlFansBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/controls/switches:
    put:
      tags:
      - zone control
      summary: set zone active operation status for all units
      description: set zone active operation status for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: zone ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zoneControlSwitchesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/controls/modes:
    put:
      tags:
      - zone control
      summary: set zone active operation mode for all units
      description: set zone active operation mode for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: zone ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/zoneControlModesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites/{siteId}/systems:
    get:
      tags:
      - site systems
      summary: get site systems
      description: get site systems
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/systemsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - site systems
      summary: create site system
      description: create site system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSystemRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /sites/{siteId}/users:
    get:
      tags:
      - site users
      summary: get site users
      description: get site users
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usersResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    post:
      tags:
      - site users
      summary: create site user
      description: create site user
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: siteId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/createUserRequestBody'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithId'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems:
    get:
      tags:
      - systems
      summary: get my systems
      description: get my systems
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/systemsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems/{systemId}:
    get:
      tags:
      - system
      summary: get system
      description: get system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/systemResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - system
      summary: update system
      description: update system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSystemRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - system
      summary: delete system
      description: delete system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems/{systemId}/controls/modes:
    put:
      tags:
      - system control
      summary: set system active operation mode for all units
      description: set system active operation mode for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/systemControlModesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems/{systemId}/controls/switches:
    put:
      tags:
      - system control
      summary: set system active operation status for all units
      description: set system active operation status for all units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/systemControlSwitchesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/units:
    get:
      tags:
      - zone units
      summary: get zone units
      description: get zone units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unitsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /zones/{zoneId}/units/{unitId}:
    post:
      tags:
      - zone units
      summary: add unit to zone
      description: add unit to zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - zone units
      summary: remove unit from zone
      description: remove unit from zone
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: zoneId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems/{systemId}/units:
    get:
      tags:
      - system units
      summary: get system units
      description: get system units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unitsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /systems/{systemId}/units/{unitId}:
    post:
      tags:
      - system units
      summary: add unit to system
      description: add unit to system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - system units
      summary: remove unit from system
      description: remove unit from system
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: systemId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /devices/{deviceId}/units:
    get:
      tags:
      - device units
      summary: get device units
      description: get device units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: deviceId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unitsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units:
    get:
      tags:
      - units
      summary: get my units
      description: get my units
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unitsResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}:
    get:
      tags:
      - unit
      summary: get unit
      description: get unit
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unitResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - unit
      summary: update unit
      description: update unit
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUnitRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}/controls/setpoints:
    put:
      tags:
      - unit control
      summary: set unit temperature setpoint
      description: set unit temperature setpoint
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unitControlSetpointsBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}/controls/modes:
    put:
      tags:
      - unit control
      summary: set unit operation mode
      description: set unit operation mode
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unitControlModesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}/controls/fans:
    put:
      tags:
      - unit control
      summary: set unit fan mode
      description: set unit fan mode
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unitControlFansBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}/controls/swings:
    put:
      tags:
      - unit control
      summary: set unit louver mode
      description: set unit louver mode
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unitControlSwingsBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /units/{unitId}/controls/switches:
    put:
      tags:
      - unit control
      summary: set unit operation status
      description: set unit operation status
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: unitId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unitControlSwitchesBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /users:
    get:
      tags:
      - users
      summary: get my users
      description: get my users
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usersResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /users/{userId}:
    get:
      tags:
      - user
      summary: get user
      description: get user
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    put:
      tags:
      - user
      summary: update user
      description: update user
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUserRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
    delete:
      tags:
      - user
      summary: delete user
      description: delete user
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        description: ""
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse403'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse404'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /me:
    get:
      tags:
      - me
      summary: get me
      description: get me
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /me/tree:
    get:
      tags:
      - me
      summary: get my control tree
      description: get my control tree
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/controlTreeResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /services/types:
    get:
      tags:
      - services
      summary: get system types for enumerations used in protocol
      description: get system types
      parameters:
      - name: x-access-token
        in: header
        description: access token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/typesResponse'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse401'
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
  /authenticate:
    post:
      tags:
      - authentication
      summary: authenticate
      description: get access token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticateRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/okresponseWithToken'
        "400":
          description: parameter error
        "500":
          description: server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badResponse500'
      deprecated: false
components:
  schemas:
    okresponse:
      title: OK response
      type: object
      properties:
        success:
          type: boolean
          description: success status
      example:
        success: true
    okresponseWithId:
      title: OK response with id
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/okresponseWithId_data'
    okresponseWithToken:
      title: OK response with token
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/okresponseWithToken_data'
    badResponse401:
      title: bad response
      type: object
      properties:
        success:
          type: boolean
          description: success status
        message:
          type: string
          description: text message describing the error
      example:
        success: false
        message: access token expired
    badResponse403:
      title: bad response
      type: object
      properties:
        success:
          type: boolean
          description: success status
        message:
          type: string
          description: text message describing the error
      example:
        success: false
        message: user does not have sufficient permissions to perform this action
    badResponse404:
      title: bad response
      type: object
      properties:
        success:
          type: boolean
          description: success status
        message:
          type: string
          description: text message describing the error
      example:
        success: false
        message: the requested resource was not found action
    badResponse500:
      title: bad response
      type: object
      properties:
        success:
          type: boolean
          description: success status
        message:
          type: string
          description: text message describing the error
      example:
        success: false
        message: server internal error 1003
    customersResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/customersResponse_data'
    customerResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/customerResponseData'
    customerResponseData:
      type: object
      properties:
        id:
          type: string
          description: customer ID
        name:
          type: string
          description: customer name
        description:
          type: string
          description: customer descriptions
        role:
          type: object
          properties: {}
          description: caller permissions for this customer
        sites:
          type: array
          description: array of child site IDs
          items:
            type: string
    sitesResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/sitesResponse_data'
    siteResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/siteResponseData'
    siteResponseData:
      type: object
      properties:
        id:
          type: string
          description: site ID
        name:
          type: string
          description: site name
        description:
          type: string
          description: site description
        country:
          type: string
          description: site address - country
        city:
          type: string
          description: site address - city
        postalCode:
          type: string
          description: site address - postal code
        address:
          type: string
          description: site address - freeform text
        timezone:
          type: string
          description: site timezone
        customer:
          type: string
          description: parent customer id
        devices:
          type: array
          description: array of child device IDs
          items:
            type: string
        zones:
          type: array
          description: array of child zone IDs
          items:
            type: string
        systems:
          type: array
          description: array of child system IDs
          items:
            type: string
        role:
          type: object
          properties: {}
          description: caller permissions for this site
    devicesResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/devicesResponse_data'
    deviceResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/deviceResponseData'
    deviceResponseData:
      type: object
      properties:
        id:
          type: string
          description: device ID
        serial:
          type: string
          description: device serial number
        role:
          type: object
          properties: {}
          description: caller permissions for this device
        site:
          type: string
          description: parent site id
        units:
          type: array
          description: array of child unit IDs
          items:
            type: string
    zonesResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/zonesResponse_data'
    zoneResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/zoneResponseData'
    zoneResponseData:
      type: object
      properties:
        id:
          type: string
          description: zone ID
        name:
          type: string
          description: zone name
        role:
          type: object
          properties: {}
          description: caller permissions for this zone
        site:
          type: string
          description: parent site id
        units:
          type: array
          description: array of child unit IDs
          items:
            type: string
    systemsResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/systemsResponse_data'
    systemResponse:
      type: object
      properties:
        success:
          type: boolean
          description: success status
        data:
          $ref: '#/components/schemas/systemResponseData'
    systemResponseData:
      type: object
      properties:
        id:
          type: string
          description: system ID
        name:
          type: string
          description: system name
        role:
          type: object
          properties: {}
          description: caller permissions for this system
        site:
          type: string
          description: parent site id
        units:
          type: array
          description: array of child unit IDs
          items:
            type: string
    unitsResponse:
[...]
